<!DOCTYPE html>
<html lang="en">

<head>
    <title>期中專案</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            {%include 'navbar.html'%}
            <div class="col-lg-12">
                <h1>iThome新聞關鍵字分析</h1>
                <p>了解IT產業最熱門的關鍵字</p>
            </div>

            <!-- 新聞類別選單------------------------------->
            <div class="col-lg-6 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">熱門關鍵字瀏覽與繪圖</h3>
                    </div>

                    <div class="card-body">
                        
                        <!--新聞類別選單 form group-->
                        <div class="form-group row">
                            <label class="col-sm-3 form-control-label">新聞類別</label>
                            <div class="col-md-9">
                                <select id="cate-selected" name="news_category" class="form-control">
                                    <!--<option>請選擇</option>-->
                                    <option>AI</option>
                                    <option>Cloud</option>
                                </select>
                                <small class="form-text text-muted">請選擇新聞類別
                                </small>
                            </div>
                        </div>
                        <!--form group-->

                        <!--熱門詞多少個?form group-->
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">多少個熱門詞?</label>
                            <div class="col-md-9">
                                <input id="topk-selected" name="topk" value="10"
                                    class="form-control form-control-success">
                                <small class="form-text text-muted">內定值為10
                                </small>
                            </div>
                        </div>
                        <!--form group-->

                        <!--submit按鈕form group-->
                        <div class="form-group row">
                            <div class="col-md-9 ml-auto">
                                <button type="button" id="btn-ok" class="btn btn-primary">查詢</button>
                            </div>
                        </div>
                        <!--form group-->

                    </div>
                    <!--card body-->
                </div>
                <!--column-->
            </div><!-- 區塊結束 -->


            <!-- 繪圖區塊--------------------------------------------------------->
            <div class="col-lg-6 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">熱門關鍵字繪圖</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="mychart"></canvas>
                    </div>
                </div>
            </div><!-- 區塊結束 -->


            <!-- 熱門關鍵字區塊----------------------------------------------------->
            <div class="col-lg-6 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">熱門關鍵字</h3>
                    </div>
                    <div class="card-body">
                        <ul id="topkeys"></ul>
                    </div>
                </div>
            </div><!-- 區塊結束 -->

        </div> <!-- row結束-->
    </div> <!-- container結束-->

</body>
</html>

<!-- chartjs圖js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<!-- 程式碼區 -->
<script>

    callAjax();   

    $('#cate-selected').on('change', function () {
        callAjax();
    }); //event function

    //**按鈕事件
    $('#btn-ok').on('click', function () {
        callAjax();
    }); //event function


    function callAjax() {
        let cate = $('#cate-selected').val();
        let topk = $('#topk-selected').val();
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:8000/ithome/api_get_cate_topword/",

            data: { "news_category": cate, "topk": topk },
            success: function (received) {
                // console.log(received);
                let chart_data = received.chart_data;
                let wf_pairs = received.wf_pairs;
                showTopKeys(wf_pairs);
                showChart(chart_data);
            }
        });
    }

    // Exercise#2: Define a function
    function showTopKeys(items) {
        $('#topkeys').empty();
        for (let i = 0; i < items.length; i++) {
            let item_li = "<li>" + items[i] + "</li>";
            $('#topkeys').append(item_li);
        }
    }

    // Exercise#4: Define “call_ajax” function to perform Ajax  

    // Exercise#5: Define barchart function and call it in the $.ajax block.
    function showChart(chart_data) {
        let values = chart_data.values;
        let labels = chart_data.labels;
        let category = chart_data.category;

        //第1個變數: 餵給chart的資料data
        let data = {
            labels: labels,
            datasets: [{
                label: category,
                data: values,
                backgroundColor: randomColors(values.length),
                borderColor: randomColors(values.length),
                borderWidth: 1,
            }],
        };

        //第2個變數: chart的選項  指定y坐標軸從零開始顯示
        let options = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        };

        let canvas_mychrat = document.getElementById("mychart");

        if (window.barchart) {
            barchart.destroy();
        }

        barchart = new Chart(canvas_mychrat, {
            type: 'bar',
            data: data,
            options: options,
        });


        function randomColors(num_colors) {
            let colors = [];

            for (i = 0; i < num_colors; i++) {

                let r = Math.floor(Math.random() * 255);
                let g = Math.floor(Math.random() * 255);
                let b = Math.floor(Math.random() * 255);
                let rgb =  `rgba(${r},${g},${b},0.5)`;

                colors.push(rgb);
            }
            return colors;
        }
    }
</script>